build/*
archives/
results/
*workspace
*.npy
*TODO*
*.hdf5
*.h5
*.json
*.cfg
*.pkl
*.msh
*.mkv
*.html
*log*
*bench*
*profile.prof
*libc*
*.ipynb
*.c
NOTES.md
nsfds3/nsfds3.code-workspace
nsfds3/.vscode
*.vscode
tests/test.npy.npz
*.npz
*.npy
tests/configurations/data/*
